body { background: #99f; color: white; }
#error { color: yellow; }

#header,
#send-message td { background: #77f; }

#header,
#send-message td,
#chat-window li,
#users-list,
#users-list li { border-color: #66f; }

#chat-window li.system { color: white; }
#chat-window li.own { background: #88f; }
#chat-window .time { color: white; }
