body { background: #f5a; color: white; }
#error { color: white; }

#header,
#send-message td { background: #d39; }

#header,
#send-message td,
#chat-window li,
#users-list,
#users-list li { border-color: #d39; }

#chat-window li.system { color: white; }
#chat-window li.own { background: #f6b; }
#chat-window .time { color: white; }