body { background: #900; color: white; }
#error { color: yellow; }

#header,
#send-message td { background: #600; }

#header,
#send-message td,
#chat-window li,
#users-list,
#users-list li { border-color: #600; }

#chat-window li.system { color: white; }
#chat-window li.own { background: #800; }
#chat-window .time { color: white; }